.planning-modify {
  .description {
    margin-bottom: 1em;
    p {
      margin-bottom: 0.3em;
      font-size: 0.9em;
    }
  }
}

.planning-container {
  .summary {
    .ant-statistic .ant-steps {
      margin-top: 2px;
    }
  }
}
